/*!
 * Stylesheet to view regions clearer
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}



/* Poor-mans normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Container */

.wrap-all {
    background-color: #ccc;
}

.outer-wrap {
    width: 100%;   /* så vet vi att de alltid sträcker sig över hela sidan */
    overflow: auto;
    background-color: teal;
}

.inner-wrap {
    width: 80%;
    margin: 0 auto;
    background-color: pink;
}

.row::after {      /* För att cleara headerkolumnerna */
    overflow: auto;
    clear: both;
}



/* Header */

.region-header-col-1 {
    float: left;
    width: 30%;
    margin-right: 10px;
    background-color: green;
}

.region-header-col-2 {
    float: left;
    width: 60%;
    background-color: yellow;
}

.site-logo {
    display: none;   /* döljer det stora lövet tillfälligt för att underlätta */
}

.my-navbar {
    padding-top: 10px;
    list-style-type: none;   /* Tar bort punkterna i listan */
}

.my-navbar li {
    display: inline;
    padding: 2px 10px;
}



/* Main */

.inner-wrap-main {
    padding: 30px 0;
    background-color: coral;
}


/* Footer */

.outer-wrap-footer {
    background-color: Navy;
    color: white;
}

.inner-wrap-footer {
    padding: 30px 0;
    background-color: SandyBrown;
}

.region-footer .block {
    padding-top: 30px;
    width: 100%;
    text-align: center;
    background-color: red;
}
