/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Container */
/* Header */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
/* Poor-mans normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outer-wrap {
  width: 100%;
  /* så vet vi att de alltid sträcker sig över hela sidan */
}
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #ccc;
}
.row::after {
  /* För att cleara headerkolumnerna */
  overflow: auto;
  clear: both;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/* Header */
.region-header-col-1 {
  float: left;
  width: 30%;
  margin-right: 10px;
}
.region-header-col-2 {
  float: left;
  width: 60%;
}
.site-logo {
  display: none;
  /* döljer det stora lövet tillfälligt för att underlätta */
}
.my-navbar {
  padding-top: 10px;
  list-style-type: none;
  /* Tar bort punkterna i listan */
}
.my-navbar li {
  display: inline;
  padding: 2px 10px;
}
/* Main */
.outer-wrap-main {
  min-height: 38em;
  margin: 15px auto;
}
.inner-wrap-main {
  padding: 30px 0;
}
.inner-wrap-main > .row {
  display: flex;
}
.region-main .article {
  text-align: justify;
}
.author-byline {
  border: 1px solid black;
  width: 650px;
}
.author-byline img {
  display: flex;
  flex-direction: row;
}
/* Footer */
.inner-wrap-footer {
  background-color: PeachPuff;
  padding: 30px 0;
}
.footer-column-wrapper {
  display: flex;
  justify-content: space-around;
}
.footer-column {
  width: 200px;
}
.block.site-footer {
  margin-top: 30px;
  text-align: center;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
