/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */

.wrap-all {
    background-image: url("../../htdocs/img/wpp3.jpg");
    background-size: cover;
    background-image: fixed;
}

.outer-wrap {
    width: 100%;   /* så vet vi att de alltid sträcker sig över hela sidan */
 }

.inner-wrap {
    margin: 0 auto;
}

.row::after {      /* För att cleara headerkolumnerna */
    overflow: auto;
    clear: both;
}


/**
 * Header layout
 */

.site-logo {
    display: none;   /* döljer det stora lövet tillfälligt för att underlätta */
}

.my-navbar {
    padding-top: 10px;
    list-style-type: none;   /* Tar bort punkterna i listan */
}



/**
 * Main and sidebars layout
 */
.outer-wrap-main {
    max-width: 1250px;
    min-height: 38em;
    margin: 15px auto;
    overflow: auto;
}

.inner-wrap-main {
    padding: 30px 0;
    background-color: white;
}

.inner-wrap-main>.row {
    display: flex;
}

.region-main {
    width: 70%;
    float: left;
    overflow: auto;
    padding: 5%;

    &.has-sidebar {
        margin-left: 0;
        border-right: 2px solid black;
    }

    &.has-sidebar-left.has-sidebar-right {
        width: 60%;
        border-left: 2px solid black;
    }
}

.region-sidebar-left,
.region-sidebar-right {
    width: 30%;
    float: left;
}

.region-has-sidebar-left.has-sidebar-right,
.region-has-sidebar-right.has-sidebar-left {
    width: 20%;
}

.region-main .article {
    text-align: justify;
}

.author-byline {
    border: 1px solid black;
    width: 650px;
}

.author-byline img {
    display: flex;
    flex-direction: row;
}


/**
 * Footer
 */

.inner-wrap-footer {
    padding: 30px 0;
    color: white;
    font-size: 22px;
}

.footer-column-wrapper {
    display: flex;
    justify-content: space-around;
}

.footer-column {
    width: 200px;
}

.block.site-footer {
    margin-top: 30px;
    text-align: center;
}
