/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */




/* Header layout */

.inner-wrap-header {
    max-width: 100%;
    height: 100px;
    background-image: url("../../htdocs/img/birdsNav.jpg");
    background-size: cover;
}

.region-header-col-1,
.region-header-col-3 {
    width: 20%;
    float: left;
    font-size: 22px;
}

.region-header-col-2 {
    width: 60%;
    float: left;
    text-align: center;
    font-size: 30px;
}

.outer-wrap-flash {
    width: 100%;
    float: left;
}

.inner-wrap-flash {
    width: 100%;
    float: left;
}

.region-flash img {
    min-width: 100%;
    background-size: cover;
}

// /**
//  * Main layout
//  */
// .outer-wrap-main {
//
// }


/**
 * Footer Layout
 */
// .inner-wrap-footer {
//     background-image: url("../../htdocs/img/foot.jpg");
// }
