/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

/**
 * Navbar
 */
 @media screen and (max-width: 1850px) {
    .rm-desktop a {
        font-size: 25px;
    }
}

@media screen and (max-width: 1500px) {
    .rm-desktop a {
        font-size: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .rm-desktop a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .region-header-col-1,
    .region-header-col-3 {
        width: 10%
    }

    .region-header-col-2 {
        width: 80%;
    }
}


@media screen and (max-width: 800px) {
    .rm-desktop {
        display: none;
    }
}
